
@font-face {
  font-family: 'iconfont';  /* project id 930345 */
  src: url('//at.alicdn.com/t/font_930345_4crbnnfpuis.eot');
  src: url('//at.alicdn.com/t/font_930345_4crbnnfpuis.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_930345_4crbnnfpuis.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_930345_4crbnnfpuis.woff') format('woff'),
  url('//at.alicdn.com/t/font_930345_4crbnnfpuis.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_930345_4crbnnfpuis.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e600";
}

.icon-right:before {
  content: "\e642";
}

.icon-left:before {
  content: "\e643";
}

.icon-down:before {
  content: "\e6a1";
}

.icon-up:before {
  content: "\e6a2";
}

.icon-share:before {
  content: "\e631";
}

.icon-star:before {
  content: "\e62d";
}

.icon-question:before {
  content: "\e6d7";
}

.icon-pause-line:before {
  content: "\e66c";
}

.icon-foot:before {
  content: "\e679";
}

.icon-top:before {
  content: "\e6bb";
}

.icon-fire:before {
  content: "\e6a0";
}

.icon-search:before {
  content: "\e63e";
}

.icon-like-filled:before {
  content: "\e64e";
}

.icon-mobile:before {
  content: "\e617";
}

.icon-tianjiatupian:before {
  content: "\e658";
}

.icon-star-filled:before {
  content: "\e60d";
}

.icon-great:before {
  content: "\e61c";
}

.icon-close:before {
  content: "\e60c";
}

.icon-like:before {
  content: "\e62f";
}

.icon-plus:before {
  content: "\e9a5";
}

.icon-pause-btn:before {
  content: "\e9e4";
}

.icon-star-line:before {
  content: "\e622";
}

.icon-play:before {
  content: "\e62a";
}

.icon-play-btn:before {
  content: "\e604";
}

.icon-stop-btn:before {
  content: "\e611";
}

.icon-sound:before {
  content: "\e6a7";
}

.icon-spread:before {
  content: "\e743";
}

.icon-play-arrow:before {
  content: "\e747";
}

.icon-pic:before {
  content: "\e628";
}

.icon-stop-block:before {
  content: "\e791";
}

.icon-more:before {
  content: "\e761";
}

.icon-shield:before {
  content: "\e60e";
}

.icon-xiala:before {
  content: "\e65b";
}

.icon-kefu:before {
  content: "\e62e";
}

