@import "./../../assets/style/base.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
  background: #ffffff;

  image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .close-btn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    color: #999999;
  }
}
